        body, html { 
            margin: 0; padding: 0; height: 100%; width: 100%;
            overflow: hidden; background-color: #000; 
        }
        iframe { 
            width: 100%; height: 100%; border: none; display: block;
        }
        #warning{
            display : none ;
        }


:root {
    /* Surface Colors */   /* --- UNTUK RIGHTBAR DAN LEFTBAR --- */
  --bg-main: #0f172a;           /* Midnight Slate */  /* Latar Belakang Utama */
  --bg-card: #1e293b;           /* Lighter Slate */  /* Warna leftbar & Card */
  --bg-input: rgba(15, 23, 42, 0.8);
  
  /* Brand Colors */
  --neon-blue: #38bdf8;         /* Primary Neon */ /* Warna Ikon & Border Fokus */
  --neon-gold: #fbbf24;         /* Amber/Gold */ /* Warna Badge Admin */
  --neon-green: #22c55e;        /* Emerald */
  --neon-red: #ef4444;          /* Danger/Cancel */  /* Untuk Logout */ 
  --neon-purple: #7c3aed;       /* Import/Special */
  --neon-purple-sys: #a855f7;       /* KHUSU Untuk badge Sys */
  --neon-biasa: #6794d4;          /* Warna Netral untuk Input biasa */
  
  /* Border & Glass */
  --border-glass: rgba(56, 189, 248, 0.15);
  --border-dim: #334155;      /* Garis Pemisah leftbar & Rightbar */
  --glass-blur: blur(10px);
  
  /* Text Colors */
  --text-bright: #f8fafc;
  --text-dim: #94a3b8;
  --text-muted: #64748b; 
  
  /* leftbar Colors */
  --leftbar-bg: #2c3e50;
  --leftbar-hover: #34495e;
  --text-color: #ecf0f1;
  --accent-color: #3498db;
  --admin-color: #e67e22;
  --sys-color: #e74c3c;
  --transition: 0.3s ease;
  
  /* --- KHUSUS LEFTBAR (TAMBAHAN) --- */
  --leftbar-width: 10.0rem; /* rumusnya sekitar = 260px jika font html dibuat 16 untuk semua*/
  --leftbar-collapsed-width:  3.5rem; /* 70px */
    

}


html {
  font-size: 16px; /* Atau biarkan default browser */
  scroll-behavior: smooth;
}

/* --- RESPONSIVE MOBILE OPTIMIZATION --- */
@media (max-width: 600px) {
    /* 1. Lebar Leftbar di HP lebih ramping */
    .leftbar-container {
        width: 140px; 
    }

    /* 2. Saat mengecil di HP, buat sangat minimalis (hanya ikon kecil) */
    .leftbar-container.collapsed {
        width: 60px;
    }

    /* 3. Atur Padding di Rightbar (Main Content) agar tidak sempit */
    .inner-content {
        padding: 15px !important;
    }

    /* 4. Kecilkan ukuran Profile Image agar tidak makan tempat di HP */
    .profile-img-container {
        width: 45px;
        height: 45px;
    }
    .tambah-db{
        flex-direction: column;
        gap: 5px;
    }
}