        body, html { 
            margin: 0; padding: 0; height: 100%; width: 100%;
            overflow: hidden; background-color: #000; 
        }
        iframe { 
            width: 100%; height: 100%; border: none; display: block;
        }
        #warning{
            display : none ;
        }